<div class="main">
  <div class="card">
    <div class="header">
      <h1>Thank you!</h1>
    </div>
    <div class="body">
      <p>Your form submission has been received.</p>

      <p>
        <a id="link" href="https://akeshya.com/">â† Back to our site</a>
      </p>
    </div>
  </div>
</div>
