<section id="services" class="services">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Services</h2>
      <p>
        Akeshya will serve as your consultant and development partner to help
        you turn your idea into a reality.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="icon"><i class="bx bxl-dribbble"></i></div>
          <h4 class="title"><a href="">Design</a></h4>
          <p class="description">
            Our web design services can assist you in reclaiming your company's
            online image. Your business will flourish on the Internet thanks to
            the combination of style and technology we provide, as well as our
            experience.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="icon"><i class="bx bx-file"></i></div>
          <h4 class="title"><a href="">Development</a></h4>
          <p class="description">
            Our development team can construct platforms to help your business
            thrive by creating powerful customised solutions tailored to your
            particular requirements. Akeshya makes use of established and
            effective web development tools.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="300"
        >
          <div class="icon"><i class="bx bx-world"></i></div>
          <h4 class="title"><a href="">Marketing</a></h4>
          <p class="description">
            A beautiful website is the foundation of effective marketing. Our
            customers achieve success where it counts—in the real world—by
            combining our proven approach with our passion for improving
            conversions and increasing ROI.
          </p>
        </div>
      </div>

      <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
        <div
          class="icon-box aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="400"
        >
          <div class="icon"><i class="bx bx-tachometer"></i></div>
          <h4 class="title"><a href="">Support</a></h4>
          <p class="description">
            Since the beginning, we at Akeshya have specialised in website
            maintenance. We recognise the significance of having your business
            online 24 hours a day, seven days a week, and we've created a system
            to ensure that we're always available.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
<section id="more-services" class="more-services">
  <div class="container">
    <div class="section-title aos-init aos-animate" data-aos="fade-up">
      <h2>Our Process</h2>
      <p>
        Over the years we've evolved a tested method for attaining achievement
        for each one of our clients.
      </p>
    </div>

    <div class="row">
      <div class="col-md-6 d-flex align-items-stretch">
        <div
          class="card aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">1. Planning</a></h5>
            <p class="card-text">
              We help you turn all of your ideas into a digital product that
              meets all of your requirements. We begin each project by
              determining its scope and needs. This is done by collaborating
              closely with you to ensure that we're all on the same page.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
        <div
          class="card aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">2. Design</a></h5>
            <p class="card-text">
              We build our websites carefully through a series of workshops,
              wire-framing, and user experience (UX) sessions, resulting in a
              site that reinforces trust, conveys important brand messaging, and
              provides a return on innovation.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="100"
        >
          <div class="card-body">
            <h5 class="card-title"><a href="">3. Development</a></h5>
            <p class="card-text">
              We provide extensive front-end and back-end development that
              allows your idea to stand alone. Our in-house developers work
              side-by-side with the artistic team to seek out natural
              breakpoints inside the content and order practicality based on
              acknowledged statistics.
            </p>
          </div>
        </div>
      </div>
      <div class="col-md-6 d-flex align-items-stretch mt-4">
        <div
          class="card aos-init aos-animate"
          data-aos="fade-up"
          data-aos-delay="200"
        >
          <div class="card-body">
            <h5 class="card-title"><a href=""></a>4. Marketing</h5>
            <p class="card-text">
              We come up with ideas and campaigns to help your business prosper
              online. Our campaigns and virtual approach have a verified tune
              report of accomplishing brilliant results, gathering new leads and
              site visitors in your website and assist them convert.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
